.friendMessage {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 20px;
}

.friendImageAndText {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.friendImageAndText img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.friendText {
    background: #f3f4f6;
    color: #111;
    padding: 10px 15px;
    border-radius: 10px;
    max-width: 400px;
}

.friendName {
    font-weight: bold;
    margin-bottom: 5px;
}

.friendMessageText {
    margin: 0;
    font-family: inherit;
    white-space: pre-wrap;
}

.friendTime {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
}